# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# config
config.php

#cron
cron/

# misc
Thumbs.db
.DS_Store
.env
*.log*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editors
.idea
*.sublime*
.vscode
